In [ ]:
#빅데이터분석기사 8회 실기 1유형

#1-1) origin별 mpg의 평균을 계산하고 가장 큰 origin을 찾으세요.
#1-1-2) 평균이 가장 큰 origin에서 연비가 4번째로 큰 자동차의 무게 weight를 구하세요.
import pandas as pd
import seaborn as sns

mpg = sns.load_dataset("mpg")
mpg.head()

#origin별 평균 mpg
origin = mpg.groupby('origin')['mpg'].mean() #Pandas에서 가장 큰 값을 가진 인덱스 라벨을 구하는 코드
origin 

top_origin = origin.idxmax()
top_origin 

#정답. japan

#japan에서의 차종 찾기
japan_df = mpg.loc[mpg['origin']==top_origin == top_origin, :].sort_values('weight',ascending=False).reset_index(drop=True)
japan_df.head() 

japan_df.loc[4,"weight"] #정답: 2815

In [ ]:
import pandas as pd
import numpy as np

# 데이터 수 설정
num_rows = 200

# 국가 이름 생성 (나라1, 나라2, ..., 나라200)
countries = [f"나라{i+1}" for i in range(num_rows)]

# 판매 채널 이름
channels = ["국가", "온라인", "오프라인", "팝업스토어", "기타"]

# 난수 고정 (재현 가능성 위해)
np.random.seed(42)

# 데이터 생성
data = {
    "국가": countries,
    "온라인": np.random.randint(10, 1001, num_rows),
    "오프라인": np.random.randint(10, 1001, num_rows),
    "팝업스토어": np.random.randint(10, 1001, num_rows),
    "기타": np.random.randint(10, 1001, num_rows)
}

# 데이터프레임 생성
sales_df = pd.DataFrame(data)

# 출력
sales_df

sales_df["총방문객수"]=sales_df.iloc[:,1:].sum(axis=1)
sales_df.head()

#또다른 코드 sales_df["총방문객수"]=sales_df.iloc[:,["온라인","오프라인","팝업스토어","기타"]].sum(axis=1) \n sales_df.head()
#또다른 코드 sales_df["총방문객수"]=sales_df['온라인']+sales_df['오프라인']+sales_df['팝업스토어']+sales_df['기타'] \n sales_df.head()

#첫번째 문제. 온라인 방문객 수 비율이 다섯번째로 높은 국가의 팝업스토어 방문객 수를 a라고 정의하기
#온라인방문객 수 비율 구하기
#총 방문객 수는 분모, 온라인 수는 분자
sales_df['온라인비율'] = sales_df['온라인']/sales_df["총방문객수"]
sales_df.head()

sales_df.sort_values("온라인비율", ascending=False).reset_index(drop=True) #rest_index를 통해 기존 인덱스를 없애고 새로운 인덱스 초기화

a = sales_df.sort_values("온라인비율", ascending=False).reset_index(drop=True).iloc[4]['팝업스토어'] #팝업스토어의 5번째 행에 있는값을 가져와라
print(a)

#두번째 문제. 기타 방문객 수가 세번째로 높은 국가의 오프라인 방문객 수를 b라고 정의하시오.
sales_df.sort_values("기타", ascending=False).reset_index(drop=True)
b= sales_df.sort_values("기타",ascending=False).reset_index(drop=True).iloc[2]['오프라인']
print(b)

print(a+b) #a+b의 합을 구하세요.

14
292
306

In [ ]:
#빅데이터분석기사 8회 작업형 1유형 3번문제

#airquality데이터셋이 있다. 
#Ozone과 Wind컬럼을 각각 Min-Max 스케일링하세요. 
#Min-Max 스케일링은 머신러닝에서 단위가 서로 다를 때 단위를 일치시키는 작업 (Standard Scaler, Min-Max Scaling 사용)
#Ozone의 경우에는 한번은 scikit-learn MinMaxScaler를 활용해서 다른 한번은 사용자 정의 함수를 사용해서 작성하세요.
#Column명은 Ozone_MinMaxScaler, Ozone_UDF
#Wind칼럼에는 한번만 적용합니다. 칼럼명은 Wind_Scaled(시험지 선택)
#스케일링된 Ozone과 Wind칼럼의 분산을 각각 구하세요.
#스케일링된 Ozone_MinMaxScaler 칼럼의 분산에서 스케일링된 Wind_Scaled 칼럼의 분산을 뺀 값을 소수 5자리로 반올림하여 구하세요. 

import pandas as pd
import seaborn as sns

airquality = pd.read_csv("C:\\Users\\sam99\\Desktop\\컴퓨터공부\\빅데이터분석기사\\실기\\airquality.csv")
airquality.head()

   rownames  Ozone  Solar.R  Wind  Temp  Month  Day
0         1   41.0    190.0   7.4    67      5    1
1         2   36.0    118.0   8.0    72      5    2
2         3   12.0    149.0  12.6    74      5    3
3         4   18.0    313.0  11.5    62      5    4
4         5    NaN      NaN  14.3    56      5    5

In [ ]:
airquality.shape

#결측치 제거
airquality = airquality.dropna()
airquality.shape

#첫번째 문제 MinMax Scaling 
#Ozone의 경우에는 한번 scikit-learn MinMax Scaler를 활용해서 다른 한번은 사용자 정의 함수를 사용해서 작성하세요.
#column명: Ozone_MinMaxScaler, Ozone_UDF
#Wind 칼럼의 경우에는 한번만 적용한다(시험지 선택)

#1. Ozone_MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
airquality['Ozone_MinMaxScaler']=scaler.fit_transform(airquality[['Ozone']])
airquality.head(1) #오존이 원래 41.0이었는데 MinMaxScaler를 통해 0.239521로 변형됨을 확인할 수 있다.

#2. 사용자 정의 함수 Ozone_UDF
#(데이터1 - 최소값)/(최대값 - 최소값)
def min_max_scaling(column):
    min_val=column.min()
    max_val=column.max()
    
    return(column - min_val)/(max_val -min_val)
airquality['Ozone_UDF'] = min_max_scaling(airquality['Ozone'])
airquality.head(1)

#3. 칼럼명을 Wind_Scaled
airquality['Wind_Scaled'] = scaler.fit_transform(airquality[['Wind']])
airquality.head()

,rownames,Ozone,Solar.R,Wind,Temp,Month,Day,Ozone_MinMaxScaler,Ozone_UDF,Wind_Scaled
0,1,41.0,190.0,7.4,67,5,1,0.239521,0.239521,0.277174
1,2,36.0,118.0,8.0,72,5,2,0.209581,0.209581,0.309783
2,3,12.0,149.0,12.6,74,5,3,0.065868,0.065868,0.559783
3,4,18.0,313.0,11.5,62,5,4,0.101796,0.101796,0.500000
6,7,23.0,299.0,8.6,65,5,7,0.131737,0.131737,0.342391

In [ ]:
#두번째 문제. 스케일링된 Ozone칼럼과 Wind칼럼의 분산값을 구한다.
ozone_variance = airquality['Ozone_MinMaxScaler'].var()
wind_variance = airquality['Wind_Scaled'].var()

In [24]:
#세번째 문제. 구한 분산값 ozone_variance에서 wind_variance를 빼고 소수점 다섯째자리까지 구하시오.

var_diff=round(ozone_variance - wind_variance, 5)
print(var_diff)

0.00232